binds {

    Mod+D hotkey-overlay-title="Dev Distrobox" { 
        spawn "xdg-terminal-exec" "distrobox" "enter" "dev";
    }

    Mod+Backspace hotkey-overlay-title="Close window" repeat=false { 
      close-window; 
    }
}

input {
  touchpad {
    middle-emulation
  }
}
